<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Thunder</title>

	<link rel="stylesheet" href="styles/style.css" />
	<link rel="stylesheet" href="lib/leaflet/leaflet.css" />
	<link rel="stylesheet" type="text/css" href="lib/datetimepicker/jquery.datetimepicker.css"/ >
	

	<script src="js/jquery.js"></script>
	<script src="lib/datetimepicker/build/jquery.datetimepicker.full.min.js"></script>

	<script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>
	<!--[if lte IE 8]>
    	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.ie.css" />
    <![endif]-->
	
	<script src="js/iconType.js"></script>
	<script src="js/mapStyle.js"></script>

</head>
<body>
	<div class=link><a href="/">Назад</a></div>
	<div class="form">	
		<form id="th_type" action="" method="get">
            <input type="checkbox" name="intra" id="intra" value="1" checked>
			<label for="intra">Intra Cloud</label>
			<input type="checkbox" name="toGround" id="toGround" value="0" checked>
			<label for="toGround">Cloud-to-Ground</label>
				
			<input id="datetimepicker" name="datetime" type="text" placeholder="Введите дату"></input>
			<input type="submit" value="Получить данные"></input>
		</form>
	</div>
	<div class="date"></div>
	<div id="mapid"></div>
	
	<script>

	var map = L.map('mapid', {
			center: [49.00, 31.00],
			zoom: 6,
			minZoom:5,
			maxZoom:12,
			maxBounds:([[20, -30],[70,90]]),
			layers: [satellite]
		});


	var baseMaps = {
  			"Dark": dark,
    		"Streets": osm,
    		"Satellite": satellite
		};

	L.control.layers(baseMaps).addTo(map);

	//получение данных с сервера

	var legend = L.control({position: 'bottomright'});
	legend.onAdd = function(map){
		var div = L.DomUtil.create('div', 'legend');
		var labels = [
		"0-20 min",
		"20-40 min",
		"40-60 min",
		"60-80 min",
		"80-100 min",
		"100-120 min"
		];
		for (var i = 0; i < labels.length; i++) {
			div.innerHTML += "<div class='color' id=c"+i+">"+"</div><span>" + labels[i]+"</span><br>";
		}

		return div;
	}

	legend.addTo(map);

	var markerGroup = L.layerGroup();

	$("#th_type").submit(function(){
		var str =$(this).serialize();
		$.ajax({
			url: '/request',
			data: str,
           	cache: false,
           	contentType: false,
           	processData: false,
			type: "get",
			success: function(data, status) {
				markerGroup.clearLayers();
				var date = new Date($("#datetimepicker").val());
				if ( data.length != 0 ) {
					for (var i=0; i < data.length; i++){
					lat=data[i].LATITUDE;
					long=data[i].LONGITUDE;
					L.marker([lat, long],{icon: getIconType(data[i].TIMES, date.toISOString(), data[i].PEAKCURRENT)}).addTo(markerGroup);
					}
				}

				markerGroup.addTo(map);
			}
		});
		return false;
	});



	//календарик

	jQuery('#datetimepicker').datetimepicker({
		timepicker: true,
		formatDate:'Y/m/d',
		minDate:'2016/08/11',
		maxDate:'+1970/01/01'//today
	});

	function getType(numType) {
		if (numType==1){
			return "Intra Cloud";
		} else if(numType==0) {
			return "Cloud-to-Ground";
		}

	}

	</script>

</body>
</html>